


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');



/* base styles */

p{
    font-family: 'Montserrat', sans-serif;   
    
}

ul.slides {
    display: block;
    position: relative;
    height: 580px;
    width: 780px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    position: relative;
    left:8rem
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}


.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
   
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
  
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #105710;
    opacity: 0.34;
    margin: 10px;
    position: relative;
    top: 1rem
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }









.grids{
    align-self: center;
    justify-self: center;
    
}

.showcase{
    position: relative;
    bottom: 4rem;
    height: 100%;
    display: grid;
    margin-top: 70px;
   background-color: #FFE8D2;
   height:740px;
}

.title-span{
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
    bottom: 3rem;
    font-size:45px;
    white-space: nowrap;
}
.showcase-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
.carousel{
    
    right: 3rem;
  
 }
/* btn */

 .hero-btn{
    background-color: #5ad878;
    color: #fff;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid #5ad878;
    transition: background-color .3s,border .3s;
    font-size: 19px;
    width:160px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;

 
 }

 .float{
    z-index: 1;
      position:fixed;
      height:45px;
      bottom:15px;
      right:27px;
      color:#FFF;
    border-radius:10px;
    width:100px;
      text-align:center;
    background-color: #5AD878;
    color: #fff;
    padding:6px;
    border-radius: 7px;
    border: 1px solid #5AD878;
    transition: background-color 0.3s, border 0.3s;
    font-size: 17px;
    width: 110px;
  }
  .float:hover{
    background-color:#4aa15f;
  }
  
  .my-float{
      margin-top:22px;
  }
  

@media screen and (max-width: 660px){
    .showcase{
        position: relative;
        top: 4rem;
        display: block;
        margin: 50px;
        background-color: transparent;
    }

        .title-span{
            font-size: 30px;
            white-space: normal;
        }
    .showcase-text{
        width: 300px;
        margin: 70px;
        font-size: 20px;
    
            font-family: 'Montserrat', sans-serif;
            position: relative;
            right: 3rem;
        
    }
    .carousel{
       position: relative;
       right: 12rem;
       padding: 20px;
       bottom: 4rem
    }

    ul.slides{
        height: 280px;
    width:350px;
    }
}



.benefits{
    margin: 150px;
}

.benefits-image{
    width: 750px;
}

.benefit-one{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px
}

.benefits-image{

}

.benefits-block{
    font-size: 20px;
}




.benefit-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px
}
@media screen and (max-width: 660px){
    .benefit-one{
        display: grid;
        grid-template-columns: 1fr ;
        
       
    }
    .benefits-image{
        width: 300px; 
        position: relative;
        right: 100px;
    }
    .benefits-block{
       position: relative;
       right: 100px;
       font-size: 16px;
       width: 300px;
    
    }
}


/* About us */
.nick-img{
    max-width: 550px;
    max-height: 550px;

}
.about-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
}
.about-img{
    justify-self: center;
    margin: 50px;
    padding: 10px;
}

.about-text-two{
    margin-top: 120px;
}

p{
    font-family: ;
}
@media screen and (max-width: 760px){
    .about-section{
        display: grid;
        grid-template-columns: 1fr;
        margin: 100px;
    }
    
    .nick-img{
        position: relative;
        right: 5rem;
        min-width: 240px;
        min-height: 240px;
    }
    .about-text{
        text-align: center;
        width: 300px;
      position: relative;
       right: 4rem;
       padding: 25px;
    }

    .about-text-two{
        text-align: center;
        font-size: 13px !important;
        position: relative;
        right: 6rem;
        padding: 25px;
    }


    html,body {
        margin:0;
        padding:0;
        overflow-x:hidden;
    }
}




.brands{
    width: 100%;
    background-color: #105710;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
.brands-title{
  color: white;
  padding: 50px;
  margin-top: 20px;
  text-align: center;
  margin:10px
}

.brand-images{
  width: auto;
  
}
.flex-container{
  display: flex;
  justify-content: center;
 
}
  .brand-logo{
    
    max-width: 200px;
    max-height: 200px;
    margin: 50px 25px;
     padding-left: 20px;
     padding-right: 20px;
     
  
    

  }

  .brand-images{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
 
     
  }




  @media screen and (max-width: 660px){
    .brand-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 2rem;
        padding:  10px;
    }
  

  }



