
  /* reset */
  
  
    
    /* base styles */
    body{
        overflow-x: hidden;
        font-family: 'Courier New', Courier, monospace;
        
          
      }
    
    
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        box-sizing: border-box;
     
        
     
    }
    #welcome{
        padding: 0 20px 20px 20px;
        background-color: rgba(255,168,0,.05);
    
      }
      .welcome-text{
        grid-column: 1/6;
        text-align: center;
       position: relative;
       left: 4rem;
        
        
        
       
      }
     
      .welcome-img{
        grid-column: 1/9;
        justify-content: center;
      }
      .welcome-img img{
        width: 50%;
    
      }
      #welcome{
        padding: 100px 20px 20px 20px;
      }
      .welcome-text{
        grid-column: 1/5;
        text-align: center;
        position: relative;
        right: 4rem
      
      }
      .welcome-text a{
        margin: 20px 0;
      }
      .welcome-img{
        grid-column: 5/9;
        justify-content: center;
      }
      .welcome-img img{
        width: 100px;
        height:100px;
      }
    .feed-image{
        width: 300px;
        height: 300px;
        margin-left:50px;
    }
    .grid-container{
        padding: 40px;
    }
    
    
    
    .feed-image{
      height: 175px;
      
      width: 175px;
    }
    
    
    
    
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 812px) 
      and (-webkit-min-device-pixel-ratio: 3) { 
    
    
        .platform{
          position: relative;
          top: 2.2rem;
          right: 8rem;
          font-size:50px;
          white-space: nowrap;
        }
    
        .platform-image{
          
        }
    }
    
    
    /* desktop styles */
    @media screen and (min-width: 1200px){
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        .platform{
        
          padding: 10px;
          position: relative;
          top: 2.2rem;
          border: 1px solid rgba(90,216,120,0.5);
          border-radius: 20px ;
          font-size: 35px;
          background-color: rgba(90,216,120,0.5);
          font-family: 'Montserrat', sans-serif;
        }
    
      .ReportsFeatures{ 
        
       
      }
      .platformFeatures{
        background-color: rgb(255,217,182,0.3);
        
      }
    
    
      .featureTitle{
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
      }
    
      .featureTitle:after {
        display: block;
        width: 20%;
        background-color: #2ecc71;
        height: 2px;
        content: " ";
        margin-left: 0%;
        margin-top: 10px;
      }
      .summary-text:after {
        display: block;
        width: 80%;
        background-color: #2ecc71;
        height: 2px;
        content: " ";
        margin-left: 0%;
        margin-top: 12px;
        position: relative;
        bottom: 0.3rem
      }
    
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 30vw);
        /* grid-template-rows: 430px 250px; */
        grid-template-rows: auto auto;
        padding: 0px;
       column-gap: 0;
    
        
       
      }
    
    
      .featureLeft{
        position: relative;
        right: -30px;
        top: 20px;
        
      }
      .featureRight{
        position: relative;
       left: 50px;
       top: 20px;
    
      }
      .marginBottom{
        position: relative;
        bottom: 30px;
       }
    
      .features{
        width:500px;
        line-height: 1.8rem;
      
      }
      
    
      h1{
        font-size: 20px;
      }
      h2{
        word-wrap: break-word;
        font-size: 16px;
      }
        .feed-image{  
           height: 370px;   
           margin-top: 50px;   
           width: 330px; 
             position: relative;   
             right: 50px  
          
          }
        
      }
      .grid-container>div {
      
        text-align: left;
        padding: 30px
     
     
      } 
    
      .container {   
         width: 1300px;  
         /* margin-left: 20px; */
         
        } 
    
      .the-feed {
        grid-area: 1 / 1 / 3 ;
        margin-left: 100px;
        
      }
    
      .platform-image{
       height: 385px;
       margin-top: 50px;
       width: 280px;
       position: relative;
       left: 15px
      } 
      .reports-image{
        height: 385px;
        margin-top: 50px;
        width: 350px;
        position: relative;
        right:50px
       } 
     
    
    
    
    
    
  
  
    @media screen and (max-width: 760px){
      .platform{
        font-size:40px;
      }
    
      .platform-image{
        height: 460px;
        width: 330px;
      }
    }