/* footer{
    background-color: blueviolet;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500;1,600&display=swap');

.address{
    font-family: 'Montserrat', sans-serif;
}