.popup{
    position: fixed;
    z-index: 999;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.popup-inner{
    position: relative;
    
    
}

.popup-inner .close-btn{
    position: absolute;
    top:16px;
    right:16px
    
}