

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0;
    margin-top: 2rem;
    
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5rem solid lightblue ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding: 3rem;
    margin: 1rem;
  }

  .grid-item p{
      font-size: 20px;
  }
  


@media screen and (max-width: 960px){
  .grid-container{
    display: block;
  }

}