
h1{
    text-align: center;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.posts {
    list-style-type: none;
    margin: 0;
    width: 50%;
    margin-left: 20rem;
    padding-top: 1rem;

  }
  
  .post {
    margin: 1rem 0;
  
    a {
        background-color: lightcyan;
      color: #000000;
      display: block;
      padding: 1rem;
      text-decoration: none;
    }
  
    a:hover {
      background-color: lightblue;
    }
  
    h2 {
      margin-bottom: 0;
    }
  
    p {
      color: #777777;
      font-size: .8rem;
      font-style: italic;
    }
  }

  // responsiveness for Iphone screens 
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .post{
      margin-left: -18rem
    }

    .posts{
      width: 25%;
    }
}
// General responsiveness 
@media screen and (max-width: 870px){
  .post{
     margin-left: -20rem;
  }
}