.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
    width: 900px;
    box-shadow: 0px 15px 10px -15px #111;    
  }


  @media screen and (max-width: 760px) {
      a{
        width: auto;
      }
  }



  p {
    margin-bottom: 0;
    
    font-size: .8rem;
    font-style: italic;
  }

}


