
.form-control{
  width: 450px;

}


.form{
    margin-left: -7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  padding-right: 4rem;

}

 .title{
   display: inline;
   margin-left: 7rem;
   position: relative;
   top: -5rem;
   left: 10rem;
   white-space: nowrap;
   
}

label{
    font-size: 22px;
    
}

.form-group{
    width: 550px;
}


.maps{
  padding: 2rem;
margin: 0 auto;
margin-top: 100px;
margin-left: 50px;
}


.contact-details p{
  font-size: 27px;
  white-space: nowrap;
  
}

.prompt{
  font-size: 27;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
}


.contact-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 2rem;
    left: 6rem;

    width: 600px

  }

  
 

  @media screen and (max-width: 960px){
    .form{
      display: block;
      margin: 0 auto;
    }
    .form-group{
      width: 320px;
    }
    .title{
      display: inline;
      top: 0rem;
      left: -2rem;
      
    }

    .contact-container{
      left: 10px;
     
    }

    .contact-details p{
      font-size: 16px;
    
    }

    .maps{
      padding: 2rem;
      margin-left: 0;
      
    }

    body{
      overflow-y: hidden;
      margin: 0px;
    padding: 0px;
    
    }

  }