.main-cards{
  display: flex;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
align-items: center;
}

.main-cards{
  flex-basis: 100%;
  margin: 0, auto;

 
}

.button_cont{
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
 
}

.button_cont:hover{
  text-decoration: none;
  text-transform: none;
  color: white;

}

.card{
  background-color: lightblue;
  
}

.center{
  padding: 50px;
  height:100%;
  width: 100%;
  border-radius:16px;
  overflow:hidden;
  margin: 0 auto;
  min-height: 100%;
  
  
}

.price{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  padding: 5px;
}
.card-text{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.main-title{
  display: block;
  text-align: center;
  font-size: 40px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.price{
  display: block;
text-align: center;
font-size: 32px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 7px 0 7px 0;
 
}

#card1{
  background-color: lightblue;
  padding: 50px;
  overflow:hidden;
  border-radius: 20px;
 
  
}

#card2{
  background-color: lightblue;
  padding: 50px;
  overflow:hidden;
  border-radius: 20px;
}
#card3{
  background-color: lightblue;
  padding: 50px;
  overflow:hidden;
  border-radius: 20px;
}




@media screen and (max-width:  960px){
  .main-cards{
    display: block;
    
  }

  .center{
   height: fit-content;
   width: fit-content;
   padding: 20px;
  }
  .card2{
    height: fit-content;
    width: fit-content;
  }
}

