/* h2{
  align-items: center;
  text-align: center;
  font-family: monospace;
  font-size: 60px;
  padding: 10px;
}
.contact-container{
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt{
  font-size: 30px;
  font-weight: 600;
}
 img{
     float: right;
    margin-top: 0rem;
    width: 450px;
    margin-left: 170px;
  }


.maps{
  padding: 2rem;
margin: 0 auto;
margin-top: 100px;
margin-left: 50px;
}



@media only screen and (max-width: 768px) {
  .contact-container{
    display: block;
  }

  img{
    display:none
  }

  .form{
    margin: auto;
    margin-left: -40px;
    padding-top: 1rem;
    font-size: 30px;

  }

  .form-control{
    width: 120%;
    height: 60px
  }

  .maps{
    display:block
  }
}


 
 

   */
.address{
  /* border: 1px solid black; */
  max-width: 600px;
  padding: 20px;
  margin-left: 7px;
  max-height: 500px;
  font-size: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.maps{
    width: 90%;
    margin: 0 auto;
}
span{
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  
}
.container{
  display: flex;
  padding: 100px;
  justify-content: center;
}
.form{
  /* margin-left: 20rem; */
  flex: 1;
  margin-right: 20px;
  max-height: 500px;

}
.form-style-6{
  width: 600px;
}
.contact{
  padding: 10px
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
   .contact{
     font-family: 'Noto sans',sans-serif;    
   }
   .form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    position: relative;
    /* left: -20rem; */
    
  }
  .form-style-6 h1{
    background: lightblue;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: black;
    margin: -16px -16px 16px -16px;
  }
  .form-style-6 input[type="text"],
  .form-style-6 input[type="date"],
  .form-style-6 input[type="datetime"],
  .form-style-6 input[type="email"],
  .form-style-6 input[type="number"],
  .form-style-6 input[type="search"],
  .form-style-6 input[type="time"],
  .form-style-6 input[type="url"],
  .form-style-6 textarea,
  .form-style-6 select 
  {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
  }
  .form-style-6 input[type="text"]:focus,
  .form-style-6 input[type="date"]:focus,
  .form-style-6 input[type="datetime"]:focus,
  .form-style-6 input[type="email"]:focus,
  .form-style-6 input[type="number"]:focus,
  .form-style-6 input[type="search"]:focus,
  .form-style-6 input[type="time"]:focus,
  .form-style-6 input[type="url"]:focus,
  .form-style-6 textarea:focus,
  .form-style-6 select:focus
  {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
  }
  
  .form-style-6 input[type="submit"],
  .form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 4%;
    background:lightblue;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;	
    color: black;
    font-size: 20px;
  }
  .form-style-6 input[type="submit"]:hover,
  .form-style-6 input[type="button"]:hover{
    background:rgb(159, 222, 244);

  }

  /* Mobile Screens  */

  @media only screen and (max-width: 768px) {
    .form-style-6{
      max-width: 300px;
      position: relative;
      
      
    } 
    .container{
      display: inline;
    }
      .form{
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: flex-start;
      }
    .details{
     margin-top: -25rem;
    }
   .address{
     font-size: 20px;
   }
    .contact{
      display: none;
    }
    .maps{
      display: none;
    }

  }


