
.contact-container{
  margin: 0 auto;
  padding: 50px;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.prompt{
  font-size: 30px;
  font-weight: 600;
}



.maps{
  padding: 2rem;
margin: 0 auto;
margin-top: 100px;
margin-left: 50px;
}



@media only screen and (max-width: 768px) {
  .contact-container{
    display: none
  }

  .form{
    margin: auto;
    margin-left: -40px;
    padding-top: 1rem;
    font-size: 30px;

  }

  .form-control{
    width: 120%;
    height: 60px
  }

  .maps{
    display: none
  }
}


 
 

  