.footer{
    margin-top: 3rem;
    text-align: center;
    border-top: black solid 1px;
    
}

.footerItem{
    display: flex;
    list-style-type: none;
    margin: 0;
    text-align: right;
    margin-left: 12rem;
}
.footerEach{
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: purple;

}
.footerEach:hover{
    font-weight: bold;
    font-size: 20px;

}