.header{
    padding: 1rem 0 3rem;
}
.title:hover{
    text-decoration: none; 
    font-weight: bold;
}
.title{
    color: black;
    font-size: 3rem;
    text-decoration: none;
 

}

.nav-list{
        display: flex;
        list-style-type: none;
        margin: 0;
}


.nav-item{
    color: #999999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;

} 

.nav-item:hover{
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    
}

.active-nav-item{
    color: #333333;
    text-decoration: none;
}



