@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Poppins:ital@1&display=swap');

.title{
    font-family: 'Poppins', sans-serif;
    
}



@media screen and (max-width: 960px){
  .title{
      font-size: 25px !important;
  }

  h2{
    font-size: 20px
  }
}
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');

.logo-title{
    font-family: 'Jost', sans-serif;
}

a{
    list-style-type: none;
}

a:hover{
    text-decoration: none !important;
}



.about-me{
    padding: 2% 30% ;

}



@media screen and (max-width: 760px){
    .about-me{
        padding: 5% ;
        
    }
   
    
  }
