
.ImgTitle{
    text-align: center;
    font-family: monospace;
    font-style: italic;
    font-size: 4rem;
    margin-top: -5rem;
}
.image-container {
    text-align: center;
    margin-top: -5rem;    
    
  }
  
  .image-container h1 {
    margin-bottom: 64px;
  }
  
  .image-grid {
    
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 32px;
    position: relative;
    bottom: 50px;
    border-radius: 2px;
  
  }
  .image-item:nth-child(5) {
    grid-column-end: span 1;
  }
  
  .image-item:nth-child(9) {
    grid-row-start: 4;
    grid-column-end: span 2;
  }
  

  .image-container {
    text-align: center;
    margin: 150px 0;
    margin-top: 100px; 
    margin-left: -5rem;
    
  }
  
  .image-container h1 {
    margin-bottom: 64px;
  }
  
  .image-item{
    border-radius: 5px;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    padding: 50px;    
  }
 

  Img{
    border-radius: 10px;
   padding: 50px;    
  
  }

  img{
    max-width: 50%;
  }

  @media screen and (max-width: 760px){
      .image-grid{
        margin-left: 3rem;
      }

      .ImgTitle{
       
        margin-top: -25rem;
    }
    img{
      max-width: 50%;
     
    }

    .image-item{
      width: 850px;
    height: 550px;
    }
  }

